# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# IDEs & Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath

# Output & Binaries
out/
target/
**/target/
bin/
site/
dist/

# OS & Temp
.DS_Store
Thumbs.db
*.swp
*~
